@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

$font-sans: 'Montserrat',
sans-serif;
$color-1: #F4F3F1;
$color-2: #0d75bb;
$color-3: #cea3b7;

body {
    background-color: $color-1;
    color: $color-2;
    font-family: $font-sans;
}