@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

$font-sans: 'Montserrat',
sans-serif;
$color-1: #F4F3F1;
$color-2: #026d52;
$color-3: #ebd5df;

body {
    background-color: $color-1;
    color: $color-2;
    font-family: $font-sans;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 1em;
    padding: 1em;
}